@import url(https://fonts.googleapis.com/css?family=Montserrat);

#indexheadlinesvg {
    display: block;
    
    width: 100%;
}

#indexheadlinetext {
    font: 6.8vw'Montserrat';
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 0.3vw;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4f00fa;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #001aff;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #6200ff;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #8a05ff;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #5900ff;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}