#bottomnavbar {
    display: flex;
    align-items: flex-end;
    width: 99.5vw; /* This value should be 100vw - width of scrollbar*/
    margin-bottom: 0.5vh;
  }
  
.bottomnavboxwrapper {
  width: 100%;
  text-align: center;
  max-width: 100%;
  margin: 0;
  padding-bottom: 0.3vh;
  /*background-color: red;*/
  display: flex;
}

.bottomnavbox {
  bottom: 0;
  border: 1px solid rgba(232, 232, 245, 0.425);
  background-color: rgba(32, 46, 245, 1);
  opacity: 0.75;
  font-family: Comfortaa;
  font-size: 1.2vw;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 0.7vw;
  border-radius: 1.4vw;
  margin: 0px 0.5vw 0px 0.5vw;
  box-shadow: rgba(100, 100, 111, 1) 0px 7px 29px 0px;
  z-index: 2;
}

.rightbottomnavbox {
  justify-content: right;
  right: 0px;
}

.leftbottomnavbox {
  justify-content: left;
  left: 0px;
  
}

.bottomsocialtext {
  padding-top: 0.5vw;
  font-size: 1vw;
}

.socialiconlarge {
  
  max-width: 4vw;
  height: auto;
}

.socials {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.7vh;
  padding-top: 2vh;
}

#contactwrapper {
  flex-direction: column;
}

.contactssocialtext {
  font-size: 1.5vw;
  padding-top: 0.5vw;
  
}



#contactwrapper {
  width: 100%;
  min-width: 200px;
  max-width: 100vw;
  /*background-color: blue;*/
}

.statuspagecontainer {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1vw;
}

.branding {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(219, 219, 219, 0.178);
  border-radius: 0.5vw;
  padding: 0.5vw 0.7vw;
  cursor: pointer;
}

.brandingicon {
  width: 1.7vw;
  height: auto;
  margin: 0;
}

.brandingtext {
  font: 1.5vmax "Comfortaa", Arial, sans-serif;
  font-weight: 300;
  line-height: 100%;
  text-decoration: none;
  color: white;
  margin: 0;
  margin-left: 0.5vw;
  padding: 0;
}

.profilepiclarge {
  max-width: 90%;
  height: auto;
  border-radius: 20%;
  margin: 5%;
}

#discordprofilewrapper {
  position: fixed;
  bottom: 1vmin;
  right: 1vmin;
  width: 20vmax;
  height: auto;
  max-width: 100vw;
  z-index: 1;
}

#closeDiscordModal {
  cursor: pointer;
}

.indexfullwrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: 60vw;
  max-width: 90vw;
  height: fit-content;
  max-height: 100vh;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
  gap: 1vmax;
  padding: 0.5vmax 1.5vmax;
}


#aboutmeleftwrapper {
  width: 30%;
  overflow: hidden;
  max-height: 100%;
}

#aboutmerightwrapper {
  width: 70%;
}

#aboutmeicon {
  min-width: 100%;
  max-width: 100%;
  border-radius: 2vmax;
}

#aboutmerightwrapper {
  text-align: left;
}