@media screen and (max-width: 600px) {
    *{
        font-size: 4vw;
    }
    .socialicon {
        max-height: 3vw;
        break-after: always;

    }
    .indexheadline {
        font-size: 10vw;
        max-width: 98vw;
    }
    #indexheadlinetext {
        font: 10vw'Montserrat';
        margin: 0 auto;
    }
    .indexlowertext {
        font-size: 4vw;
        max-width: 96vw;
    }
    #leftsection {
        width: 100%;
        max-width: 100%;
    }
    #rightsection {
        width: 100%;
        max-width: 100%;
    }
    #rightcontainer {
        max-width: 80vw;
        width:80vw;
    }
    .inlineelement {
        display: block;
    }
    .navbox {
        margin-top: 0.5vh;
    }
    #profiletext * {
        font-size: 1.6vw;
        -webkit-line-clamp: 8; /* number of lines to show */
          line-clamp: 8; 
    }
    #rainbowwrapper {
        width: 60%;
        margin: auto;
    }

    #discordactivitysubheading {
        font-size: 3vw; 
        text-align: center;
    }
    .centercontainer {
        flex-direction: column;
        border-radius: 4vw;
        align-items: center;
    }
    .socialbox {
        padding-top: 0.5vh;
        width: 90%;
        border-radius: 2vw;
        max-width: 16.5vw;
    }
    .socialtext:before {
        content: "\A";
        white-space: pre-line;
    }
    .socialtext {
        font-size: 2.5vw;
    }
    .socialboxwrapper {
        padding-bottom: 1vh;
    }
    .bottomwaves {
        max-height: 50vh;
    }
    #svgwaves {
        width: 140vw;
        left: 0;
        bottom: 0;
    }
    .pageheadline {
        font-size: 8vw;
    }
    .pagetext {
        font-size: 4vw;
    }
    .righttextwrapper {
        margin-top: 18vh;
        height: auto;
    }
    .centeredwithin {
        height: auto;
    }
    .lefticonimage {
        margin-top: 10vh;
    }
  }