

h1 {
  font-family: Comfortaa;
  font-size: 30px;
  color: #ffffff;
}


p {
  font-family: Comfortaa;
  font-size: 20px;
  color: #ffffff;
}

li {
  font-family: Comfortaa;
  font-size: 20px;
  color: #ffffff;
}


body {
  /*background-color: #36393F;*/
  background: rgb(50,1,93); 
  background: linear-gradient(90deg, rgba(50,1,93,1) 0%, rgba(9,9,121,1) 35%, rgba(2,191,230,1) 100%);
  color: white;
  text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 25vw); /* 1 row */
    grid-gap: 15px;
}

.gallery-text {
  margin: auto; /* required to make sure that the caption aligns with the image*/
  width: 70%;
  color: #bfbfbf;
  font-size: 30px;
  /*background-color: #ffffff;*/
  text-align: center;
  font-family: Comfortaa;
}

.front-image {
  border-radius: 10%;
}

.gallery-image {
  width:  70%;
}

.styled-link {
  color: #ffffff;
  text-decoration: none;
}

.no-link-underline {
  text-decoration: none;
} 

.fade-in {
  animation: fadeIn 2s;
}

.move-up-on-hover figure:hover {
  transition: transform 1.2s;
  transform: translate(0px, -20px);
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
